<% provide(:title, 'Contact') %>
	<h1>Contact Page</h1>
	<p>In the likely event of catastrophic and irrepairable failure, please contact 
	<a href="mailto:andy.brown@justice.gsi.gov.uk">Andy Brown</a>.</p>
