<div class="center hero-unit">

	<h1>TiB Assignment Database</h1>

	<h2>This web app is a place for managers to list TiB
	assignments so that TiBers can see what is available and apply
	for assignments that they'd like to do.</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>