<% provide(:title, "Assignment at #{@assignment.department.abbreviation}") %>

<div class="row">
    <div class="span6 offset3">
    	<h1>
        	<%= @assignment.title %>
        </h1>
    </div>
</div>
