<% provide(:title, "Profile for #{@user.first_name} #{@user.last_name}") %>
<div class="row">
	<aside class="span5">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.first_name %> <%= @user.last_name %>
			</h1>
			<p> Currently at the <%= @user.department.full_name %> </p>
		</section>
	</aside>
</div>